{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 11"
          ]
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-react-inline-elements",
    "syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap"
          }
        ]
      ]
    }
  }
}
