// Main colors

$primary-color: #f37026;
$secondary-color: #fdb81a;

$blue-cookie: #01a4e9;
$green-cookie: #7acf77;
$yellow-cookie: #faf376;
$red-cookie: #f37026;

// Checkbox constants

$checked-color: $primary-color;
$unchecked-color: $primary-color;
$checkbox-height: 20px;
$background-color: $primary-color;
$font-color: $primary-color;
$duration: .2s;

.xb-cookie-kit {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  z-index: 100000;
  opacity: 1;
  transition: opacity 1s ease-out;
  bottom: 8px;
  right: 8px;

  &.left_top {
    top: 8px;
    left: 8px;
  }

  &.right_top {
    top: 8px;
    right: 8px;
  }

  &.right_bottom {
    bottom: 8px;
    right: 8px;
  }

  &.left_bottom {
    bottom: 8px;
    left: 8px;
  }

  &.transparent {
    opacity: 0;
  }

  &.scroll {
    max-height: 100%;
    overflow: auto;
  }

  &__button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  &__cookie-button {
    width: 4vw;
  }

  &__reset-button {
    background: #fdb81a;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    border-radius: 4px;
    margin-left: 5px;
    margin-top: 5px;
  }

  &__cookie-icon {
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
    width: 4vw;
    height: 4vw;

    &--default {
      background-image: url(./assets/cookie.svg);
    }

    &--blue {
      animation: xb-cookie-blue 5s;
      background-image: url(./assets/cookie.svg);

      @keyframes xb-cookie-blue {
        30%, 90% {
          background-image: url(./assets/cookie-blue.svg);
        }

        100% {
          background-image: url(./assets/cookie.svg);

          &:before {
            animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
          }
        }
      }

      &:before {
        background-color: $blue-cookie;
      }
    }

    &--green {
      animation: xb-cookie-green 5s;
      background-image: url(./assets/cookie.svg);

      &:before {
        background-color: $green-cookie;
      }

      @keyframes xb-cookie-green {
        0%, 90% {
          background-image: url(./assets/cookie-green.svg);
        }

        100% {
          background-image: url(./assets/cookie.svg);

          &:before {
            animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
          }
        }
      }
    }

    &--yellow {
      animation: xb-cookie-yellow 5s;
      background-image: url(./assets/cookie.svg);

      &:before {
        background-color: $yellow-cookie;
      }

      @keyframes xb-cookie-yellow {
        30%, 90% {
          background-image: url(./assets/cookie-yellow.svg);
        }

        100% {
          background-image: url(./assets/cookie.svg);

          &:before {
            animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
          }
        }
      }
    }

    &--red {
      animation: xb-cookie-red 5s;
      background-image: url(./assets/cookie.svg);

      &:before {
        background-color: $red-cookie;
      }

      @keyframes xb-cookie-red {
        30%, 90% {
          background-image: url(./assets/cookie-red.svg);
        }

        100% {
          background-image: url(./assets/cookie.svg);

          &:before {
            animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
          }
        }
      }
    }
  }

  &__pulsing {
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 6vw;
      height: 6vw;
      top: -1vw;
      left: -1vw;
      box-sizing: border-box;
      border-radius: 50%;
      animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    @keyframes pulse-ring {
      0% {
        transform: scale(.33);
      }
      80%, 100% {
        opacity: 0;
      }
    }
  }

  // Cookie Kit popup

  .xb-cookie-kit-popup {
    margin: 8px;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    background: #e6e6e6;
    border: 2px solid $secondary-color;
    border-radius: 7px;

    // Button styles

    &__button {
      padding: 8px;
      text-align: center;
      background: $primary-color;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
    }

    // Block styles

    &__block {
      background: $secondary-color;
      color: #fff;
      margin: 8px;
      border: 1px solid $secondary-color;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media (max-width: 500px) {
        margin: 4px 0;
        border-radius: 5px;
      }
    }

    &__block--sm {
      height: 35px;
      width: 35px;
      font-size: 13px;

      @media (max-width: 500px) {
        height: 30px;
        width: 30px;
        font-size: 12px;
      }
    }

    &__block--lg {
      height: 80px;
      width: 80px;
      font-size: 14px;
      word-break: break-all;

      @media (max-width: 500px) {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 60%;
        padding: 4px;
      }
    }

    &__flag {
      // Use of !important is required to override inline styles added by JavaScript.
      [role~=img] {
        width: 25px !important;
        height: 25px !important;

        @media (max-width: 500px) {
          width: 20px !important;
          height: 20px !important;
        }
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $primary-color;
      border-radius: 5px 5px 0 0;

      > .xb-cookie-kit-popup__logo {
        .xb-cookie-kit-popup__company-logo {
          max-height: 80px;
          width: 80px;
          padding: 4px;
          cursor: pointer;
        }
      }

      > .xb-cookie-kit-popup__title {
        color: #fff;
        font-size: 18px;
      }

      > .xb-cookie-kit-popup__close-button {
        padding: 16px;
        cursor: pointer;

        > .xb-cookie-kit-popup__close-button-icon {
          height: 15px;
          width: 15px;
        }
      }
    }

    &__text-container {
      display: flex;

      > .xb-cookie-kit-popup__text {
        font-size: 17px;
        padding: 16px;
        flex: 1;
        word-wrap: break-word;
      }

      > .xb-cookie-kit-popup__locale-container {
        position: relative;

        > .xb-cookie-kit-popup__locale {
          background: $primary-color;
          padding: 4px;
          border-radius: 0 0 0 10px;

          > .xb-cookie-kit-popup__language-picker {
            cursor: pointer;
            background: $secondary-color;
            color: #fff;
            margin: 8px;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 35px;
            width: 35px;
            font-size: 13px;

            @media (max-width: 500px) {
              height: 30px;
              width: 30px;
              font-size: 12px;
              margin: 4px 0;
              border-radius: 5px;
            }
          }

          img {
            border-radius: 5px;
          }
        }

        .xb-cookie-kit-popup__country-picker {
          cursor: pointer;
        }

        .xb-cookie-kit-popup__country-picker-button {
          width: 100%;
          height: 100%;
        }

        > .xb-cookie-kit-popup__custom-select {
          position: absolute;
          top: 12px;
          left: -130px;
          display: flex;
          background: $secondary-color;
          border-radius: 10px;

          > .xb-cookie-kit-popup__language-picker-button {
            cursor: pointer;
            background: $secondary-color;
            color: #fff;
            padding: 8px;
            font-size: 13px;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
            margin: 0;

            &:first-child {
              border-radius: 10px 0 0 10px;
              border-left: 1px solid $primary-color;
            }

            &:last-child {
              border-radius: 0 10px 10px 0;
            }

            &:not(last-child) {
              border-right: 1px solid $primary-color;
            }

            &:hover {
              background: $primary-color;
            }
          }
        }

        > .xb-cookie-kit-popup__country-picker-select {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 12px;
          top: 95px;
          background: $secondary-color;
          border-radius: 10px;
          border: 1px solid $primary-color;
          width: 35px;
          height: 175px;
          overflow: scroll;
          z-index: 10;
          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            width: 0;
            height: 0;
            opacity: 0;
          }

          > .xb-cookie-kit-popup__country-picker-button {
            cursor: pointer;
            background: $secondary-color;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            border-bottom: 1px solid $primary-color;

            &:last-child {
              border-bottom: 0;
            }

            &:hover {
              background: $primary-color;
            }
          }
        }
      }
    }

    &__cookie-list {
      display: flex;
      margin-top: 12px;
      justify-content: space-around;

      .xb-cookie-kit-popup__cookie {
        display: flex;
        flex-direction: column;
        align-items: center;

        .xb-cookie-kit-popup__cookie-title {
          font-size: 14px;
          text-align: center;

          .xb-cookie-kit-popup__cookie-title-link {
            color: inherit;
            cursor: pointer;
          }
        }
      }
    }

    &__check-all {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }

    &__fingerprint {
      background: #fdb81a;
      margin: 8px auto;
      border-radius: 10px;
      padding: 8px 8px 4px;
      color: #fff;
      display: flex;

      > .xb-cookie-kit-popup__fingerprint-label {
        margin-top: 2px;
        margin-left: 8px;
        font-size: 14px;
      }

      @media (max-width: 500px) {
        border-radius: 5px;
        padding: 6px 6px 2px;
        margin: 4px auto;
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;

      > .xb-cookie-kit-popup__privacy-partner-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90px;

        > .xb-cookie-kit-popup__privacy-partner-link {
          font-size: 13px;
          color: #717171;
          text-decoration: none;
        }
      }

      .xb-cookie-kit-popup__privacy-partner {
        cursor: pointer;
      }

      .xb-cookie-kit-popup__privacy-partner, .xb-cookie-kit-popup__button-container {
        font-size: 13px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #717171;
        width: 100%;

        .xb-cookie-kit-popup__button {
          width: 50%;
        }
      }
    }

    &__links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 24px 8px;

      .xb-cookie-kit-popup__link {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;
        flex: 1;
        text-align: center;

        &:hover {
          color: $secondary-color;
        }
      }
    }

    &__powered-by {
      display: none;
    }

    @media (max-width: 500px) {
      > .xb-cookie-kit-popup__header {
        padding: 4px;

        > .xb-cookie-kit-popup__logo {
          .xb-cookie-kit-popup__company-logo {
            width: 40px;
            max-height: 40px;
            padding: 4px;
          }
        }

        > .xb-cookie-kit-popup__title {
          font-size: 16px;
        }

        > .xb-cookie-kit-popup__close-button {
          padding: 4px 8px 4px 4px;

          > .xb-cookie-kit-popup__close-button-icon {
            height: 10px;
            width: 10px;
          }
        }
      }

      > .xb-cookie-kit-popup__text-container {
        > .xb-cookie-kit-popup__text {
          font-size: 14px;
          padding: 8px;
        }

        > .xb-cookie-kit-popup__locale-container {
          > .xb-cookie-kit-popup__locale {
            padding: 2px 4px;
          }

          > .xb-cookie-kit-popup__custom-select {
            top: 6px;
            left: -108px;
            border-radius: 5px;

            > .xb-cookie-kit-popup__language-picker-button {
              padding: 5px;
              font-size: 12px;

              &:first-child {
                border-radius: 5px 0 0 5px;
              }

              &:last-child {
                border-radius: 0 5px 5px 0;
              }
            }
          }

          .xb-cookie-kit-popup__country-picker-select {
            left: 4px;
            top: 72px;
            width: 30px;
            height: 135px;

            > .xb-cookie-kit-popup__country-picker-button {
              min-height: 30px;
              padding: 4px;
            }
          }
        }
      }

      > .xb-cookie-kit-popup__cookie-list {
        flex-direction: column;
        margin-top: 10px;

        .xb-cookie-kit-popup__cookie-title {
          font-size: 14px !important;
          margin-left: 8px;
        }
      }

      > .xb-cookie-kit-popup__check-all {
        margin-top: 4px;
        font-size: 12px;
      }

      > .xb-cookie-kit-popup__actions {
        flex-direction: column;
        padding: 8px;

        .xb-cookie-kit-popup__privacy-partner-container {
          display: none;
        }

        .xb-cookie-kit-popup__button-container {
          font-size: 14px;

          .xb-cookie-kit-popup__button {
            width: 60%;
          }
        }
      }

      > .xb-cookie-kit-popup__links {
        font-size: 14px;
        padding: 0 8px 4px;
      }

      > .xb-cookie-kit-popup__powered-by {
        display: block;
        color: #717171;
        font-size: 11px;
        text-align: center;
        padding-bottom: 4px;

        > .xb-cookie-kit-popup__powered-by-link {
          margin-left: 4px;
          font-weight: 600;
          color: inherit;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }

  // Checkbox styles

  input[type=checkbox] {
    display: none;
  }

  .xb-cookie-kit-popup__checkbox {
    height: $checkbox-height;
    width: $checkbox-height;
    background-color: transparent;
    border: $checkbox-height * .1 solid $unchecked-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease $duration/2;
    -o-transition: border-color ease $duration/2;
    -webkit-transition: border-color ease $duration/2;
    transition: border-color ease $duration/2;
    cursor: pointer;

    &::before, &::after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: $checkbox-height * .2;
      background-color: $checked-color;
      display: inline-block;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      border-radius: 5px;
      content: ' ';
      -webkit-transition: opacity ease $duration;
      -moz-transition: opacity ease $duration;
      transition: opacity ease $duration;
    }

    &::before {
      top: $checkbox-height * .72;
      left: $checkbox-height * .41;
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }

    &::after {
      top: $checkbox-height * .37;
      left: $checkbox-height * .05;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  input[type=checkbox]:checked + .xb-cookie-kit-popup__checkbox,
  .xb-cookie-kit-popup__checkbox.checked {
    border-color: $checked-color;

    &::after {
      height: $checkbox-height * .5;
      -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
      -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
      -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
      animation: dothabottomcheck $duration/2 ease 0s forwards;
    }

    &::before {
      height: $checkbox-height * 1.2;
      -moz-animation: dothatopcheck $duration ease 0s forwards;
      -o-animation: dothatopcheck $duration ease 0s forwards;
      -webkit-animation: dothatopcheck $duration ease 0s forwards;
      animation: dothatopcheck $duration ease 0s forwards;
    }
  }

  // Checkbox animation

  @-moz-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @-webkit-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1.2;
    }
  }
  @-webkit-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1.2;
    }
  }
  @-moz-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1.2;
    }
  }
}

// Hide cookie managing content
xbee-script {
  display: none;
}
xbee-cookie {
  display: none;
}
