body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgimg {
  background-image: url("./assets/images/coffeehouse.jpg");
  background-position: center;
  background-size: cover;
  min-height: 75%;
}

.menu {
  display: none;
}
