// Main colors

$primary-color: #f37026;
$secondary-color: #fdb81a;

$blue-cookie: #01a4e9;
$green-cookie: #7acf77;
$yellow-cookie: #faf376;
$red-cookie: #f37026;

// Checkbox constants

$checked-color: $primary-color;
$unchecked-color: $primary-color;
$checkbox-height: 20px;
$background-color: $primary-color;
$font-color: $primary-color;
$duration: .2s;

#xcoobee__cookie__kit {
  font-family: Arial, Helvetica, sans-serif;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  // Will be removed
  .refresh__button {
    background: #fdb81a;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    border-radius: 4px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .container {
    position: fixed;
    z-index: 100000;
    opacity: 1;
    transition: opacity 1s ease-out;

    &.left_top {
      top: 8px;
      left: 8px;
    }

    &.right_top {
      top: 8px;
      right: 8px;
    }

    &.right_bottom {
      bottom: 8px;
      right: 8px;
    }

    &.left_bottom {
      bottom: 8px;
      left: 8px;
    }

    &.transparent {
      opacity: 0;
    }
  }

  .cookie__icon {
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
    width: 4vw;
    height: 4vw;
  }

  .pulsing {
    cursor: default;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 6vw;
      height: 6vw;
      top: -1vw;
      left: -1vw;
      box-sizing: border-box;
      border-radius: 50%;
      animation: pulse__ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    @keyframes pulse__ring {
      0% {
        transform: scale(.33);
      }
      80%, 100% {
        opacity: 0;
      }
    }
  }

  .cookie__icon.default {
    background-image: url(../assets/cookie.svg);
  }

  .cookie__icon.blue {
    animation: cookie--blue 5s;
    background-image: url(../assets/cookie.svg);

    @keyframes cookie--blue {
      30%, 90% {
        background-image: url(../assets/cookie-blue.svg);
      }

      100% {
        background-image: url(../assets/cookie.svg);

        &:before {
          animation: pulse__ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
        }
      }
    }

    &:before {
      background-color: $blue-cookie;
    }
  }

  .cookie__icon.green {
    animation: cookie--green 5s;
    background-image: url(../assets/cookie.svg);

    &:before {
      background-color: $green-cookie;
    }

    @keyframes cookie--green {
      30%, 90% {
        background-image: url(../assets/cookie-green.svg);
      }

      100% {
        background-image: url(../assets/cookie.svg);

        &:before {
          animation: pulse__ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
        }
      }
    }
  }

  .cookie__icon.yellow {
    animation: cookie--yellow 5s;
    background-image: url(../assets/cookie.svg);

    &:before {
      background-color: $yellow-cookie;
    }

    @keyframes cookie--yellow {
      30%, 90% {
        background-image: url(../assets/cookie-yellow.svg);
      }

      100% {
        background-image: url(../assets/cookie.svg);

        &:before {
          animation: pulse__ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
        }
      }
    }
  }

  .cookie__icon.red {
    animation: cookie--red 5s;
    background-image: url(../assets/cookie.svg);

    &:before {
      background-color: $red-cookie;
    }

    @keyframes cookie--red {
      30%, 90% {
        background-image: url(../assets/cookie-red.svg);
      }

      100% {
        background-image: url(../assets/cookie.svg);

        &:before {
          animation: pulse__ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 3s;
        }
      }
    }
  }

  // Button styles

  .button {
    padding: 8px;
    text-align: center;
    background: $primary-color;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }

  // Block styles

  .block {
    background: $secondary-color;
    color: #fff;
    margin: 8px;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 400px) {
      margin: 4px 0;
      border-radius: 5px;
    }
  }

  .block.block--sm {
    height: 35px;
    width: 35px;
    font-size: 13px;

    @media (max-width: 400px) {
      height: 30px;
      width: 30px;
      font-size: 12px;
    }
  }

  .block.block--lg {
    height: 75px;
    width: 75px;
    font-size: 14px;

    @media (max-width: 400px) {
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 50%;
      padding: 4px;
    }
  }

  // Cookie Kit popup

  .cookie__kit__popup {
    margin: 8px;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    background: #e6e6e6;
    border: 2px solid $secondary-color;
    border-radius: 7px;

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $primary-color;
      border-radius: 5px 5px 0 0;

      > .logo {
        .company__logo {
          height: 80px;
          padding: 4px;
          cursor: pointer;
        }
      }

      > .title {
        color: #fff;
        font-size: 18px;
      }

      > .close__button {
        padding: 16px;
        cursor: pointer;

        > .close__button__icon {
          height: 15px;
          width: 15px;
        }
      }
    }

    > .text__container {
      display: flex;

      > .text {
        font-size: 17px;
        padding: 16px;
        flex: 1;
        word-wrap: break-word;
      }

      > .locale__container {
        position: relative;

        > .locale {
          background: $primary-color;
          padding: 4px;

          > .language__picker {
            cursor: pointer;
          }

          img {
            border-radius: 5px;
          }
        }

        > .custom__select {
          position: absolute;
          top: 12px;
          left: -130px;
          display: flex;
          background: $secondary-color;
          border-radius: 10px;

          > .language__picker__button {
            cursor: pointer;
            background: $secondary-color;
            color: #fff;
            padding: 8px;
            font-size: 13px;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;

            &:first-child {
              border-radius: 10px 0 0 10px;
              border-left: 1px solid $primary-color;
            }

            &:last-child {
              border-radius: 0 10px 10px 0;
            }

            &:not(last-child) {
              border-right: 1px solid $primary-color;
            }

            &:hover {
              background: $primary-color;
            }
          }
        }
      }
    }

    > .cookie__list {
      display: flex;
      margin-top: 24px;
      justify-content: space-around;

      .cookie {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cookie__title {
          font-size: 14px;
          text-align: center;

          .cookie__title__link {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    > .check__all {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: 8px;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }

    > .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 16px 4px 16px;

      > .privacy__partner__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90px;

        > .privacy__partner__link {
          font-size: 13px;
          color: #717171;
          text-decoration: none;
        }
      }

      .privacy__partner {
        cursor: pointer;
      }

      .privacy__partner, .button__container {
        font-size: 13px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #717171;
        width: 100%;

        .button {
          width: 50%;
        }
      }
    }

    > .links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 24px 8px;

      .link {
        color: $primary-color;
        text-decoration: none;
        cursor: pointer;
      }

      .link:hover {
        color: $secondary-color;
      }
    }

    > .powered__by {
      display: none;
    }

    @media (max-width: 400px) {
      > .header {
        > .logo {
          .company__logo {
            height: 40px;
            padding: 4px;
          }
        }

        > .title {
          font-size: 16px;
        }

        > .close__button {
          padding: 4px 8px 4px 4px;

          > .close__button__icon {
            height: 10px;
            width: 10px;
          }
        }
      }

      > .text__container {
        > .text {
          font-size: 14px;
          padding: 8px;
        }

        > .locale__container {
          > .locale {
            padding: 2px 4px;
          }

          > .custom__select {
            top: 5px;
            left: -120px;
            border-radius: 5px;

            > .language__picker__button {
              padding: 5px;
              font-size: 14px;

              &:first-child {
                border-radius: 5px 0 0 5px;
              }

              &:last-child {
                border-radius: 0 5px 5px 0;
              }
            }
          }
        }
      }

      > .cookie__list {
        flex-direction: column;
        margin-top: 10px;

        .cookie__title {
          font-size: 14px !important;
          margin-left: 4px;
        }
      }

      > .check__all {
        margin-top: 4px;
        font-size: 12px;
      }

      > .actions {
        flex-direction: column;
        padding: 8px;

        .privacy__partner__container {
          display: none;
        }

        .button__container {
          font-size: 14px;

          .button {
            width: 50%;
          }
        }
      }

      > .links {
        font-size: 14px;
        padding: 0 8px 4px;
      }

      > .powered__by {
        display: block;
        color: #717171;
        font-size: 10px;
        text-align: center;
        padding-bottom: 4px;
      }
    }
  }

  // Input styles

  input[type=checkbox] {
    display: none;
  }

  .check__box {
    height: $checkbox-height;
    width: $checkbox-height;
    background-color: transparent;
    border: $checkbox-height * .1 solid $unchecked-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease $duration/2;
    -o-transition: border-color ease $duration/2;
    -webkit-transition: border-color ease $duration/2;
    transition: border-color ease $duration/2;
    cursor: pointer;

    &::before, &::after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: $checkbox-height * .2;
      background-color: $checked-color;
      display: inline-block;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      border-radius: 5px;
      content: ' ';
      -webkit-transition: opacity ease $duration;
      -moz-transition: opacity ease $duration;
      transition: opacity ease $duration;
    }

    &::before {
      top: $checkbox-height * .72;
      left: $checkbox-height * .41;
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }

    &::after {
      top: $checkbox-height * .37;
      left: $checkbox-height * .05;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  input[type=checkbox]:checked + .check__box,
  .check__box.checked {
    border-color: $checked-color;

    &::after {
      height: $checkbox-height * .5;
      -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
      -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
      -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
      animation: dothabottomcheck $duration/2 ease 0s forwards;
    }

    &::before {
      height: $checkbox-height * 1.2;
      -moz-animation: dothatopcheck $duration ease 0s forwards;
      -o-animation: dothatopcheck $duration ease 0s forwards;
      -webkit-animation: dothatopcheck $duration ease 0s forwards;
      animation: dothatopcheck $duration ease 0s forwards;
    }
  }

  // Checkbox animation

  @-moz-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @-webkit-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1.2;
    }
  }
  @-webkit-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1.2;
    }
  }
  @-moz-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1.2;
    }
  }
}
